# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================

venv/
.venv/
env/

# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

.env

# ==========================================
# JUPYTER NOTEBOOKS
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS CODE
# ==========================================

.vscode/

# ==========================================
# PYCHARM
# ==========================================

.idea/

# ==========================================
# STREAMLIT
# ==========================================

.streamlit/secrets.toml

# ==========================================
# LOG FILES
# ==========================================

*.log

# ==========================================
# OPERATING SYSTEM FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# DATABASE FILES
# ==========================================

*.db
*.sqlite
*.sqlite3

# ==========================================
# CACHE FILES
# ==========================================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================================
# BUILD FILES
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# TEMP FILES
# ==========================================

*.tmp
*.temp

# ==========================================
# COVERAGE REPORTS
# ==========================================

htmlcov/
.coverage

# ==========================================
# MYSQL EXPORTS
# ==========================================

*.sql.bak
*.dump


# ==========================================
# MODELS
# ==========================================

models/*.pkl

# ==========================================
# LARGE DATA FILES
# ==========================================

data/raw/*.csv
data/processed/*.csv

__pycache__/